{% extends 'plantilla.html' %}
{% block title%} EDUCACION {%endblock %}



{%  block content %}
<form method="POST" action="configuraGrado">
{% csrf_token %}
<div class="col-sm-12 form-group">
  <div class="panel-heading">
    <h3><b>Grado</b></h3>
  </div>
    <div class="col-sm-4">
        <label class="control-label" for="textinput">Ingrese Grado</label>
    </div>
    <div class="col-sm-8">
        <input id="textinput" name="grado" value="" type="text" placeholder="Nombre Grado" class="form-control">
    </div>
</div>

<button type="submit" value ="10" class="btn btn-primary">guardar </button>
<a class="btn btn-default" href="{% url 'configuraMatricula' %}">Cancelar</a>
</form>


<div class="panel">
    <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="activity">
            <thead>
                <tr>
                    <th>Grados</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>   {% for row in grados %}
                <tr>
                    <td>{{ row.id }} | {{ row.grado }}</td>
                    <td><a class="btn btn-primary" href="{% url 'editarGrado'  pk=row.pk %}">Editar</a>
                      {% if user.is_superuser == True %}
                       <a class="btn btn-danger" href="{% url 'eliminarGrado'  pk=row.pk %}">Borrar</a></td>
                      {% endif %}
                </tr>
            </tbody>    {% endfor %}
        </table>

        </div>
        </div>
    </div>

{% endblock %}
