{% extends 'plantilla.html' %}
{% block title%} EDUCACION {%endblock %}



{%  block content %}

<div class="panel panel-headline">
     <div class="panel-heading">
       <h2 class="panel-title"><b>Configuración</b></h2>
       <p class="panel-subtitle"><b>Panel Administrativo - Configuración</b></p>
     </div>
</div>

      <div class="panel">
          <div class="panel-body">
                <div class="table-responsive">


                <div class="row">
                      <h3>Para la configuración se zonas urbanas:</h3>
                      <div class="col-md-6">
                      <a href="municipios"><i class="fa fa-cubes"></i>Municipios</a>
                      <hr />
                      </div>

                      <div class="col-md-6">
                       <a href="veredas"><i class="fa fa-circle"></i>Veredas</a>
                       <hr />
                      </div>
                      <h3>Para la configuración de instituciones educativas y centros de estudio:</h3>
                      <div class="col-md-6">
                       <a href="universidades"> <i class="fa fa-university"></i>Universidades</a>
                       <hr />
                      </div>

                      <div class="col-md-6">
                       <a href="colegios"><i class="fa fa-home"></i>Colegios</a>
                       <hr />
                      </div>
                      <div class="col-md-6">
                       <a href="sedes"> <i class="fa fa-university"></i>Sedes Universidades</a>
                       <hr />
                      </div>

                      <div class="col-md-6">
                       <a href="centrosSena"><i class="fa fa-object-group"></i>Centros Sena</a>
                       <hr />
                      </div>

                      <h3>Para la configuración de Link video y fechas:</h3>
                      <div class="col-md-6">
                       <a href="video"> <i class="fa fa-university"></i>Video</a>
                       <hr />
                      </div>

                </div>

                </div>
          </div>
      </div>





{% endblock %}
