{% extends 'plantilla.html' %}
{% block title%} EDUCACION {%endblock %}



{%  block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
      <h2 class="panel-title"><b>Resultados</b></h2>
      <p class="panel-subtitle"><b>Resultados de la busqueda</b></p>
    </div>

    <div class="panel-body">
      <div class="row">

            <div class="col-sm-6">
                <label>No se encontraron resultados por ese criterio de busqueda</label>
            </div>
      </div>
      </div>
</div>


{% endblock %}
