{% extends 'plantilla.html' %}
{% block title%} EDUCACION {%endblock %}



{%  block content %}



            <div class="col-sm-12">


              <div class="panel">
                      <div class="panel-body">
                      <div class="table-responsive">

                      <table class="table table-bordered table-hover table-striped" id="activity">
                          <thead>
                              <tr>
                                  <th>Lista de resultados</th>
                                  <th>Acciones</th>

                              </tr>

                          </thead>

                          <tbody>   {% for row in aspirante %}

                              <tr>
                                  <td>  {{row.nombre}} | {{row.apellido}} | {{row.documento}} | {{row.direccionEstudiante}} | {{row.email}}</td>
                                  <td><a class="btn btn-primary">Editar</a> <a class="btn btn-danger">Borrar</a></td></td>

                              </tr>
                          </tbody>    {% endfor %}
                      </table>

                      </div>
                      </div>
                </div>
          </div>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>



{% endblock %}
