<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>

    <meta charset="UTF-8">
    <title>educacion</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/overrides.css" rel="stylesheet">
    <link href="/static/css/procss.css" rel="stylesheet">
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>

</head>
<body>



<!-- Static navbar -->
<nav class="navbar navbar-default ">
    <div class="col-sm-12">
        <div class="row">


            <div class="container-fluid barras">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">  Navegación de palanca</font> </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <!-- <img src="/static/img/escudo-anapoima.png">-->

                </div>

            </div><!--/.container-fluid -->
        </div>
    </div>

</nav>
 {%  block content %}

  {% endblock %}


        <br>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text">© 2016 Tecnología en Desarrollo de sistemas de información</p>
            </div><!--container-->
        </div><!--navbar-->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="static/javascript/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/vendors/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
        <script src="static/vendors/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>


    </div>

</div> <!-- /container -->

<div class="navbar navbar-default navbar-fixed-bottom barras">
    <div class="container">
        <p class="navbar-text ">© 2016 secretaria de educacion de anapoima </p>

    </div><!--container-->
</div><!--navbar-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="vendors\bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script><div id="goog-gt-tt" class="goog-tooltip skiptranslate" dir="ltr" style="visibility: hidden; left: 164px; top: 62px; display: none;"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Texto original</h1></div><div class="middle" style="padding: 8px;"><div class="original-text">About</div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Sugiere una traducción mejor</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none; opacity: 0;"></div></div>


</body>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<
</body>
</html
